/* header部分样式 */


/* 头部样式 */

.hd h1 {
    width: 262px;
    height: 38px;
    position: fixed;
    left: 6%;
    top: 5%;
    display: block;
    z-index: 1100;
    color: #fff;
}


/* 右文字 */

.menu {
    height: 48px;
    width: 470px;
    position: fixed;
    right: 6%;
    top: 5%;
    color: #000;
    font-size: 18px;
    line-height: 48px;
    z-index: 1100;
    transition: all .3s ease-in-out 0s;
}

.tel-info {
    font-size: 20px;
}

.menu_txt {
    display: block;
    float: left;
}


/* 导航按钮样 */

.menu_handler {
    width: 24px;
    height: 48px;
    cursor: pointer;
    position: relative;
    float: left;
    transition: all .3s cubic-bezier(.445, .145, .355, 1);
    cursor: pointer;
}

.menu_handler .burger {
    width: 100%;
    height: 3px;
    background: #fff;
    display: block;
    position: absolute;
    z-index: 5;
    top: 14px;
    left: 0;
}

.trans {
    transition: all .6s cubic-bezier(0.445, 0.145, 0.355, 1);
}

.menu_handler .burger2 {
    top: 22px;
}

.menu_handler .burger3 {
    top: 30px;
}

.menu_handler .burger {
    background: #363636;
}

.menu_handler.active .burger1 {
    top: 21px;
    transform: rotate(225deg)
}

.menu_handler.active .burger2 {
    filter: alpha(opacity=0);
    opacity: 0;
}

.menu_handler.active .burger3 {
    top: 21px;
    transform: rotate(-225deg)
}


/* 二级菜单导航样式 */

nav {
    display: none;
    height: auto !important;
    padding: 7% 0 42px 0;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    height: 0px;
    overflow: hidden;
    box-sizing: border-box;
    color: #7f7f7f;
    z-index: 1;
}

nav .cnt {
    border: 1px solid #f3f3f3;
    border-left: 0;
    border-right: 0;
    padding: 14px 0;
}

nav .cnt dl {
    width: 1200px;
    margin: 0px auto 0;
    text-align: center;
}

nav dd {
    float: left;
    display: block;
    width: 16%;
    font-size: 16px;
}

nav dd .t {
    font-size: 20px;
    margin-bottom: 20px;
    font-size: #555;
}

nav dd .subnav li {
    margin-bottom: 5px;
}

nav dd .subnav a {
    display: block;
    padding: 10px;
}

nav dd p a:hover {
    color: #E2932B;
}

nav li a:hover {
    color: #e7312d;
    background: #f2f2f3;
}

.menu_bottom {
    position: relative;
    width: 100%;
    left: 0;
    top: 0;
    height: 70px;
}


/* 导航底部联系样式 */

.tel {
    position: absolute;
    left: 10%;
    top: 3rem;
    background: url(../images/tel.png) no-repeat left top;
    padding-left: 60px;
    line-height: 1.4;
}

.menu_bottom .ewm {
    position: absolute;
    right: 20%;
    top: 1rem;
}

.menu_bottom .ewm img {
    max-width: 100%;
    vertical-align: middle;
}

.tel_txt {
    font-size: 24px;
    color: #e7312d;
}